<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="false" #drawer class="sidenav-container" mode="push">
    <mat-nav-list class="app-sidenav">
      <a appFontSize mat-list-item href="...">Inicio</a>
      <a appFontSize mat-list-item href="...">Alumnos</a>
      <a appFontSize mat-list-item href="...">Cursos</a>
      <a appFontSize mat-list-item href="...">Inscripciones</a>
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar color="primary" class="app-toolbar">
    <button (click)="drawer.toggle()" mat-icon-button class="icon-hambur" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-tittle" appFontSize>ABM Estudiantes</span>
    <span class="spacer"></span>
  </mat-toolbar>

  <section class="container-section">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button (click)="editarEstudiante()" class="add-student-button" mat-fab extended>
            <mat-icon>favorite</mat-icon>
            Nuevo Alumno
          </button>
        </div>
      </div>
    </div>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="nombre">
        <mat-header-cell appFontSize *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="apellido">
        <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombreApellido">
        <mat-header-cell *matHeaderCellDef> Nombre Completo </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row | fullName }} </mat-cell>
      </ng-container>         

      <ng-container matColumnDef="correo">
        <mat-header-cell appFontSize *matHeaderCellDef> Correo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.correo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fechaNacimiento">
        <mat-header-cell appFontSize *matHeaderCellDef> Fecha Nacimiento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fechaNacimiento | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="genero">
        <mat-header-cell appFontSize *matHeaderCellDef> Genero </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.genero}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="curso">
        <mat-header-cell appFontSize *matHeaderCellDef> Curso </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.curso}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell appFontSize *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editarEstudiante(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminarEstudiante(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </section>
</mat-drawer-container>
